In [7]:
from pandas import read_csv

elevator_data = read_csv("elevator.csv")
print(elevator_data.head(5))
print(elevator_data.columns)

print(elevator_data["gFz"])
print(list(elevator_data["time"][0:3]))

elevator_data

   Unnamed: 0   time     gFx     gFy     gFz
0           0  0.007 -0.0056 -0.0046  1.0120
1           1  0.008  0.0070  0.0024  1.0022
2           2  0.008  0.0000  0.0059  1.0039
3           3  0.009  0.0054 -0.0022  1.0032
4           4  0.009 -0.0015 -0.0056  1.0042
Index(['Unnamed: 0', 'time', 'gFx', 'gFy', 'gFz'], dtype='object')
0    1.0120
1    1.0022
2    1.0039
3    1.0032
4    1.0042
5    0.9951
6    1.0020
7    1.0159
8    1.0100
9    1.0012
Name: gFz, dtype: float64
[0.007, 0.008, 0.008]

   Unnamed: 0   time     gFx     gFy     gFz
0           0  0.007 -0.0056 -0.0046  1.0120
1           1  0.008  0.0070  0.0024  1.0022
2           2  0.008  0.0000  0.0059  1.0039
3           3  0.009  0.0054 -0.0022  1.0032
4           4  0.009 -0.0015 -0.0056  1.0042
5           5  0.009  0.0037 -0.0020  0.9951
6           6  0.010 -0.0020 -0.0020  1.0020
7           7  0.014  0.0090 -0.0025  1.0159
8           8  0.015  0.0012 -0.0037  1.0100
9           9  0.017 -0.0115 -0.0020  1.0012